@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "reset.css";
@import "playlist.css";
@import "user-playlist.css";
@import "user-icon.css";

* {
  box-sizing: border-box;
}
html {
  background-color: white;
  display: flex;
  justify-content: center;
}
body{
  font-family: 'Permanent Marker', cursive;
}
.background{
  width:730px;
  height:1560px;
  border: 5px solid red;
  background-color: gainsboro;
  padding: 40px;
}