.user-icon {
  display:flex;
  margin-top: 80px;
  justify-content: space-between;
  width:100%;
}

.user-icon__column:first-child {
align-items: center;
border:2px solid black;
font-size: 60px;
padding:30px 80px; 
border-radius: 30px;
border-width: 2px 2px 8px 2px;
}

.user-icon__column:nth-child(2) {
  border:2px solid black;
  font-size: 50px;
  padding:40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border-width: 2px 2px 8px 2px;
}

.user-icon__column:nth-child(3) {
  border:2px solid black;
  font-size: 50px;
  padding:40px;
  border-radius: 50%;
  align-items: center;
  border-width: 2px 2px 8px 2px;
}